body {
    font-family: 'Open Sans', sans-serif;
    background-color: #2C2B3D;  

}

header {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    margin-left: 99px;
}

header img {
    width: 168px;
}

nav {
    margin-top: 71px;
    margin-right: 98px;

}

nav ul {
    display: flex;
    list-style: none;
    gap: 64px;
}

header li {
   
}

.hero {
    display: flex;
    width: 1088px;
    height: 283px;
    margin: 10px 99px 157px;
    
}

.herotext {
    margin: auto;

}

.hero h1 {
    width: 614px;
    height: 40px;
    Top: 208px;
    left: 577px;
    text-align: center;

}

.hero p {
    width: 604px;
    height: 168px;
    text-align: center ;
}


.hero p span {
    color: #C2C2C2;
    font-weight: bold;
}

.hero img {
    width: 401px ;
    height: 283px ;
    Top: 202px;
    left: 99px ;  
}


h1 {
    font-family: 'JetBrains Mono', monospace; 
    color: #FFFF;
    font-size: 36px; 
    line-height: 40px;
    font-weight: 700;
}

h1 span {
    color: #00BFA6;
}

body #color {
    color:  #00BFA6;
}

p, a, li {
    color: #C2C2C2;
    font-size: 16px;
    line-height: 28px;
}


#footer p, a {
    font-size: 14px;
    color: #FFFFFF;
    Width: 462px;
    Height: 28px;
    margin: 27px auto 23px;
}

.line {
    width: 568px;
    height: 0px;
    margin: 27px auto 23px;
    border: 1px #00BFA6 solid;
}

#cadeado {
    position: fixed;
    width: 51px;
    height: 62px;
    bottom: 20px;
    left: 20px;
}





